h1 {
    font-size: 65px;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 90px;
}

h2 {
    font-size: 30px;
    text-align: center;
    letter-spacing: -1px;
}

p {
    font-size: 21px;
    letter-spacing: -2;
    
}
